* {
    /* resetting the padding and margin */
    padding: 0;
    margin: 0;

    /* box-sizing */
    box-sizing: border-box;
}

body {

    max-width: 480px;
    margin: auto;

    header {
        color: azure;
        width: 100%;
        top: 0;
        z-index: 5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(0, 0, 0);
        height: 50px;

        h3 {
            padding-left: 2px;
        }

        nav {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                color: white;
                font-size: larger;
                text-decoration: none;
                padding: 10px;
                margin: 4px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition-duration: 1s;
            }

            a:hover {
                color: rgb(85, 158, 222);
                background-color: white;
            }

        }
    }

    main {
        #locations {
            background-color: black;

            .grid-container {
                display: flex;
                align-items: center;
                

                .grid-card {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .card-img {
                        margin-left: 10px;
                        height: 65px;
                        aspect-ratio: 1/1;
                        overflow: hidden;
                        border-radius: 50%;

                        img {
                            height: 70px;
                            width: 70px;
                            object-fit: cover;
                        }
                    }

                    .card-body {
                        width: 70%;

                        ul {
                            height: 100%;
                            list-style-type: none;
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;

                            li {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                color: white;
                            }

                            strong {
                                color: rgb(255, 255, 255);
                            }
                        }

                    }
                }
            }
        }

        #bio {
            div.bio-section {
                background-color: black;
                color: white;

                h4 {
                    margin-left: 7px;
                }

                p {
                    margin-top: 5px;
                    margin-left: 5px;
                    width: 250px;
                }

            }

            .profile-buttons {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                background-color: black;

                button {
                    width: 155px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    color: white;
                    background-color: rgb(35, 34, 34);
                    border-radius: 10px;
                    border: 1px solid white;

                }
            }
        }

        #highlight {
            background-color: black;
            display: flex;

            .outer-circle {
                height: 60px;
                width: 60px;
                border-radius: 50%;
                border: 1px solid rgb(182, 179, 179);
                justify-content: center;
                align-items: center;
                display: flex;
                margin-left: 10px;

                .inner-circle {
                    height: 50px;
                    width: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 1px solid white;

                    h1 {
                        color: white;
                    }

                    img {
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                    }
                }
            }
        }

        #nav-section {
            background-color: black;

            nav {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-left: 60px;
                margin-right: 60px;

                a {
                    color: white;
                    font-size: larger;
                    text-decoration: none;
                    padding: 5px;
                    margin: 4px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition-duration: 1s;
                }

                a:hover {
                    color: rgb(85, 158, 222);
                    transform: scale(1.1);
                    transition-duration: .7s;
                }

            }
        }

        #photo_cart {
            background-color: black;

            div.photo_cart_section {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                img {
                    margin-top: 5px;
                    height: 158px;
                    width: 158px;
                    object-fit: cover;
                    color: white;
                }
            }
        }

        #video_cart {
            background-color: black;

            div.video_cart_section {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                video {
                    margin-top: 5px;
                    height: 158px;
                    width: 158px;
                    object-fit: cover;
                    color: white;
                }
            }
        }
    }

    footer {
        background-color: black;
        position: fixed;
        height: 38px;
        width: 480px;
        bottom: 0;
        z-index: 5;
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 20px 20px;

        i {
            color: white;
            text-align: center;

        }
        .footer-img {
            height: 1.5em;
            aspect-ratio: 1/1;
            border-radius: 50%;
            overflow: hidden;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}